@import "partials/variables";

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: $bg-main;
    color: $fg-color;
}

.red {
    min-height: 50px;
    background-color: $red;
}